@font-face {
    font-family: Motiva Sans;
    src: url(fonts/MotivaSans/MotivaSansTest-Extrabold.otf);
    font-weight: 900;
}

@font-face {
    font-family: Motiva Sans;
    src: url(fonts/MotivaSans/MotivaSansTest-Regular.otf);
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: linear-gradient(to bottom, #2A475E, #1B2838);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #e5e5e5;
    display: flex;
    flex-direction: column;
    font-family: Motiva Sans;
    height: 100%;
    margin: 0;
}

header {
    background-color: #171d25;
    padding: 24px;
}

header h1 {
    color: #dcdedf;
    font-weight: 900;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

main h2 {
    font-weight: normal;
    text-align: center;
}

.main-searchbar {
    display: flex;
    justify-content: center;
    margin: 24px 0;
}

.searchbar,
.searchbar-button {
    border: 1px solid #2A475E;
    border-radius: 4px;
    box-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.2);
    color: #dcdedf;
    font-size: 16px;
    margin: 8px 16px;
    padding: 8px;
}

.searchbar {
    background-color: #316282;
    width: 50%;
}

.searchbar-button {
    background-color: #2A475E;
    cursor: pointer;
}

.main-searches {
    display: flex;
    flex-direction: row;
    height: 250px; /* provisional */
    justify-content: center;
}

.window {
    align-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    margin: 16px 32px;
    transition: align-content 0.3s ease-out;
    width: 20%;
}

.window:hover {
    align-content: end;
}

.search-top5__window {
    background-image: url(../images/top5.png);
}

.search-newreleases__window {
    background-image: url(../images/newreleases.png);
}

.label {
    background-color: #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #417a9b;
    font-weight: 900;
    margin: 16px 8px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
}

.search__results--container {
    justify-content: center;
    margin-top: 16px;
    display: flex;
}

.search__results {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.game__pic--img {
    height: auto;
    margin: 24px 24px 8px 24px;
    width: 70%;
}

.game__pic--text {
    text-align: center;
}

.hidden {
    display: none;
}

@media screen and (max-width: 767px){
    main {
        justify-content: start;
    }

    main h2 {
        margin: 18px 18px;
    }

    .main-searches {
        height: 150px;
    }

    .window {
        width: 40%;
    }

    .window:hover {
        align-content: center;
    }

    .label {
        font-size: 0.8rem;
    }

    .search__results {
        width: 100%;
    }
}